{% extends 'app/base.html' %}

{% block content %}
    {% load bootstrap5 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item mx-2">
                        <a class="btn btn-primary" href="{% url 'index' %}">Главная</a>
                    </li>
                     <li class="nav-item mx-2">
                        <a class="btn btn-primary" href="{% url 'hotels_list' %}">Вернуться к выбору отеля</a>
                    </li>
                    <!-- Add other navbar links if needed -->
                </ul>
            </div>
        </div>
    </nav>
        <form method="post" class="mt-4 p-4">
            {% csrf_token %}
            <div class="mb-3">
                {{ form }}
            </div>
            <button type="submit" class="btn btn-primary">Отфильтровать</button>
            <p></p>
            <a href="{% url 'apartaments' hotel.id %}" class="btn btn-secondary">Отменить фильтры</a>
        </form>
        {% if apartaments%}
        <h1 class="mt-4">Список номеров</h1>
        <div class="row">
            {% for apartament in apartaments %}
                <div class="col-md-12 mt-4">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="{{ apartament.img.url }}" class="img-fluid rounded-start" alt="Фото номера">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Название номера: {{ apartament.name }}</h5>
                                    <p class="card-text">Категория: {{ apartament.category }}</p>

                                    <p class="card-text">Цена за ночь: {{ apartament.price }} руб.</p>
                                    <a href="{% url 'order' apartament.id %}" class="btn btn-success">Забронировать</a>
                                    <p></p>
                                    <a href="{% url 'apartament_detail' apartament.pk %}" class="btn btn-primary">Подробнее об номере</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% else %}
        <h1>Ничего по данной категории не найдено</h1>
        {% endif %}
    </div>
{% endblock %}