{%extends 'app/base.html'%}

{%block content%}
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Отсортировать</button>
    </form>
    <h1>Список номеров</h1>
    {% for apartament in apartaments%}
        <p>{{apartament.name}}</p>
        <p>{{apartament.category}}</p>
        <p>{{apartament.hotel}}</p>
        <p>{{apartament.price}}</p>
        <img src="{{apartament.img.url}}" alt="Фото номера">
        <a href="{%url 'order' apartament.id%}">Забронировать</a>
    {%endfor%}
{%endblock%}