{% extends 'app/base.html' %}

{% block content %}
    {% load bootstrap5 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <div class="container">
    <form method="post" class="mt-4 p-4 border border-primary rounded">
        {% csrf_token %}
        <div class="mb-3">
            {{ form }}
        </div>
        <button type="submit" class="btn btn-primary">Отсортировать</button>
    </form>

        <h1 class="mt-4">Список номеров</h1>
        <div class="row">
            {% for apartament in apartaments %}
                <div class="col-md-12 mt-4">
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="{{ apartament.img.url }}" class="img-fluid rounded-start" alt="Фото номера">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{ apartament.name }}</h5>
                                    <p class="card-text">{{ apartament.category }}</p>
                                    <p class="card-text">{{ apartament.hotel }}</p>
                                    <p class="card-text">{{ apartament.price }}</p>
                                    <p class="card-text">{{apartament.description}}</p>
                                    <a href="{% url 'order' apartament.id %}" class="btn btn-primary">Забронировать</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
