{%extends 'app/base.html'%}

{%block content%}
<form action="{% url 'hotels_list' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Отсортировать</button>
</form>
    <h1>Список отелей</h1>
    {% for hotel in hotels%}
        <p>{{hotel.hotel_name}}</p>
        <p>{{hotel.city}}</p>
        <p>{{hotel.country}}</p>
        <img src="{{hotel.img.url}}" alt="Фото отеля">
        <a href="{%url 'apartaments' hotel.id%}">Список номеров</a>
    {%endfor%}
{%endblock%}
