{% extends 'app/base.html' %}

{% block content %}
    {% load bootstrap5 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item mx-2">
                        <a class="btn btn-primary" href="{% url 'index' %}">Главная</a>
                    </li>
                     <li class="nav-item mx-2">
                        <a class="btn btn-primary" href="{% url 'hotels_list' %}">Список отелей</a>
                    </li>
                    <!-- Add other navbar links if needed -->
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-4">
        <h1>Добро пожаловать, {{ request.user.username }}!</h1>
        <hr>
        <p>Ваш баланс внутренней валюты: {{ profile.money }}</p>

        <form action="{% url 'increment_balance' %}" method="get">
            <button type="submit" class="btn btn-primary">Увеличить баланс на $1000</button>
        </form>
        <p>Внутренняя валюта нужна для брони отелей ведь сайт не настоящий</p>
        <hr>
        <h2>Бронирования</h2>
        {% for order in orders %}
            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title">{{ order.apartament }}</h5>
                    <p class="card-text"><strong>Дата заезда:</strong> {{ order.arrive_date }}</p>
                    <p class="card-text"><strong>Дата выезда:</strong> {{ order.leave_date }}</p>
                    <p class="card-text"><strong>Сумма заказа:</strong> {{ order.total_amount }}</p>
                    <p class="card-text"><strong>Статус:</strong> {{ order.status }}</p>
                    <a href="{% url 'order_delete' order.id %}" class="btn btn-danger">Отменить бронь</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}