{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load bootstrap5 %}

{% block head_title %}{% trans "Вход" %}{% endblock head_title %}

{% block content %}
<style>
    body {
        background: hsl(218deg 50% 91%);
    }

    .form-wrapper {
        background: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
</style>
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="form-wrapper"> <!-- Обертка формы -->
                <h1 class="text-center mb-4">{% trans "Вход" %}</h1>

                {% get_providers as socialaccount_providers %}

                {% if socialaccount_providers %}
                    <p>{% blocktrans with site.name as site_name %}Пожалуйста, войдите с помощью одной
                        из ваших существующих учетных записей сторонних сервисов. Или <a href="{{ signup_url }}">зарегистрируйтесь</a>
                        для учетной записи {{ site_name }} и войдите ниже.{% endblocktrans %}</p>

                    <div class="socialaccount_ballot">
                        <ul class="socialaccount_providers">
                            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                        </ul>
                        <div class="login-or">{% trans 'или' %}</div>
                    </div>

                    {% include "socialaccount/snippets/login_extra.html" %}
                {% else %}
                    <p>{% blocktrans %}Если у вас еще нет учетной записи, пожалуйста,
                        <a href="{{ signup_url }}">зарегистрируйтесь</a> сначала.{% endblocktrans %}</p>
                {% endif %}

                <form class="login needs-validation" method="POST" action="{% url 'account_login' %}" novalidate>
                    {% csrf_token %}
                    {% bootstrap_form form layout='vertical' %}
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <div class="mb-3 text-center">
                        <a class="btn btn-secondary me-2" href="{% url 'account_reset_password' %}">{% trans "Забыли пароль?" %}</a>
                        <button class="btn btn-primary" type="submit">{% trans "Войти" %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
