{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap5 %}

{% block head_title %}{% trans "Выход" %}{% endblock head_title %}

{% block content %}
<style>
    body {
        background: hsl(218deg 50% 91%);
    }
</style>

<div class="container">
    <h1 class="text-center">{% trans "Выход" %}</h1>

    <p class="text-center">{% trans 'Вы уверены, что хотите выйти?' %}</p>

    <form class="text-center" method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <button class="btn btn-primary" type="submit">{% trans 'Выйти' %}</button>
    </form>
</div>
{% endblock content %}