{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load bootstrap5 %}
{% block head_title %}{% trans "Сброс пароля" %}{% endblock head_title %}

{% block content %}
<style>
    body {
        background: hsl(218deg 50% 91%);
    }

    .form-wrapper {
        background: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
</style>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 form-wrapper"> <!-- Обертка формы -->
            <h1>{% trans "Сброс пароля" %}</h1>
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <p>{% trans "Забыли пароль? Введите ваш адрес электронной почты ниже, и мы отправим вам электронное письмо для его сброса." %}</p>

            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                {% csrf_token %}
                {% for field in form %}
                <div class="mb-3">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                </div>
                {% endfor %}
                <button class="btn btn-primary" type="submit">{% trans 'Сбросить пароль' %}</button>
            </form>

            <div class="mt-3">
                <p>{% blocktrans %}Пожалуйста, свяжитесь с нами, если у вас возникли проблемы с сбросом пароля.{% endblocktrans %}</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}