{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Сброс пароля" %}{% endblock head_title %}

{% block content %}
    <h1>{% trans "Сброс пароля" %}</h1>

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% blocktrans %}Мы отправили вам электронное письмо. Если вы не получили его, пожалуйста, проверьте папку "спам". В противном случае, свяжитесь с нами, если вы не получите его в течение нескольких минут.{% endblocktrans %}</p>
{% endblock content %}