{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap5 %}

{% block head_title %}{% trans "Установка пароля" %}{% endblock head_title %}

{% block content %}
<style>
    body {
        background: hsl(218deg 50% 91%);
    }
    .form-container {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
</style>

<div class="container">
    <div class="form-container">
        <h1>{% trans "Установка пароля" %}</h1>

        <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button class="btn btn-primary" type="submit" name="action">{% trans 'Установить пароль' %}</button>
        </form>
    </div>
</div>
{% endblock content %}