{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap5 %}

{% block head_title %}{% trans "Регистрация" %}{% endblock head_title %}

{% block content %}
<style>
    body {
        background: hsl(218deg 50% 91%);
    }

    .form-wrapper {
        background: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
</style>
<div class="container">

    <div class="form-wrapper"> <!-- Обертка формы -->
        <form class="signup needs-validation" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
          <h1 class="text-center">{% trans "Регистрация" %}</h1>

    <div class="text-center">
        <p>{% blocktrans %}Уже есть аккаунт? Тогда пожалуйста <a href="{{ login_url }}">войдите</a>.{% endblocktrans %}</p>
    </div>

            <div class="row justify-content-center">
                <div class="col-md-6">
                    {% bootstrap_form form layout='vertical' %}
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <button class="btn btn-primary" type="submit">{% trans "Зарегистрироваться" %} &raquo;</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}