{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Подтверждение вашего email" %}{% endblock head_title %}

{% block content %}
<h1>{% trans "Подтверждение вашего email" %}</h1>

{% url 'account_email' as email_url %}

<p>{% blocktrans %}Для доступа к этой части сайта нам необходимо подтвердить вашу личность. Для этого мы требуем подтверждения владения вашим email-адресом. {% endblocktrans %}</p>

<p>{% blocktrans %}Мы отправили вам электронное письмо для подтверждения. Пожалуйста, перейдите по ссылке внутри этого письма. Если вы не видите письмо с подтверждением в основной папке входящих сообщений, проверьте папку со спамом. В противном случае свяжитесь с нами, если вы не получите его в течение нескольких минут.{% endblocktrans %}</p>

<p>{% blocktrans %}<strong>Примечание:</strong> вы все равно можете <a href="{{ email_url }}">изменить свой email-адрес</a>.{% endblocktrans %}</p>

{% endblock content %}