{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Подтвердите ваш email" %}{% endblock head_title %}

{% block content %}
    <h1>{% trans "Подтвердите ваш email" %}</h1>

    <p>{% blocktrans %}Мы отправили вам электронное письмо для подтверждения. Перейдите по предоставленной ссылке, чтобы завершить процесс регистрации. Если вы не видите письма с подтверждением в основной папке входящих сообщений, проверьте папку со спамом. Пожалуйста, свяжитесь с нами, если вы не получите письмо с подтверждением в течение нескольких минут. После подтверждения вашей электронной почты войдите в аккаунт{% endblocktrans %}</p>

{% endblock content %}
